
.color-manto {
	border-color: none;
	text-align: left;
}

table {
	width: 100%;
	background-color: white;
	margin-top: 5px;
	margin-bottom: 5px;
}

table, th, td {
	z-index: 3;
	border: 1px solid #0068ad;
}

th, td, p {
	padding: 5px;
	text-align: center;
}

th {
	background-color: #e7f3f4;
}

button.btn-success {
	margin-right: 25px;
	letter-spacing: 2px;
	border-radius: 7px ;
	outline: none;
    margin: auto;
    
}
